<mat-toolbar class="navbar">
  <mat-toolbar-row class="d-flex justify-content-between align-items-center ">
   <div class="icon-span-container">
    <span class="title">CompraAQUI</span>
    <button mat-icon-button (click)="sidenav.toggle();">
      <mat-icon style="color: white;">menu</mat-icon>
    </button>
   </div>
   <div class="user-prifile">

      <div *ngIf="userDados" [matMenuTriggerFor]="menu">

        <div *ngIf="userDados?.photoURL; else showDefaultUserLoggedTop">
          <img class="avatar " [src]="userDados.photoURL" alt=""
            onerror="this.src='assets/images/user.png';">
        </div>
        <ng-template #showDefaultUserLoggedTop>
          <img class="avatar " [src]="imgDefault" alt="">
        </ng-template>
      </div>

      <mat-menu #menu>
        <button  mat-menu-item (click)="openProfileDialog();">Perfil</button>
        <button  mat-menu-item (click)="logout()">Sair</button>
      </mat-menu>

   </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="mat-sidenav" #sidenav opened="true" mode="side">
    <mat-nav-list>
      <mat-list-item routerLink="/pages/dashboard">
        <div class="icon-span-container">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <span class="mat-line">DashBoard</span>
        </div>
      </mat-list-item>
      <mat-list-item  routerLink="/pages/usuarios">
        <div class="icon-span-container">
          <mat-icon mat-list-icon>group</mat-icon>
        <span class="mat-line">Usuários</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/pages/produtos">
        <div class="icon-span-container">
          <mat-icon mat-list-icon>collections_bookmark</mat-icon>
        <span class="mat-line">Produtos</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/pages/vendas">
        <div class="icon-span-container">
          <mat-icon mat-list-icon>currency_exchange</mat-icon>
        <span class="mat-line">Venda</span>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/pages/historial_venda">
        <div class="icon-span-container">
          <mat-icon mat-list-icon>edit_note</mat-icon>
        <span class="mat-line">Histórico de Vendas</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/pages/reportes">
        <div class="icon-span-container">
          <mat-icon mat-list-icon>receipt</mat-icon>
        <span class="mat-line">Relatórios</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/pages/configuracoes">
        <div class="icon-span-container">
          <mat-icon mat-list-icon>settings_applications</mat-icon>
        <span class="mat-line">Configurações</span>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 90vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
