<mat-toolbar class="navbar">
  <mat-toolbar-row>
   <div class="icon-span-container">
    <span class="title">JT- Sistema Venda</span>
    <button mat-icon-button (click)="sidenav.toggle();">
      <mat-icon>menu</mat-icon>
    </button>
   </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="mat-sidenav" #sidenav opened="true" mode="side">
    <mat-nav-list>
      <mat-list-item routerLink="/pages/dashboard">
        <div class="icon-span-container">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <span>DashBoard</span>
        </div>
      </mat-list-item>
      <mat-list-item  routerLink="/pages/usuarios">
        <div class="icon-span-container">
          <mat-icon mat-list-icon>group</mat-icon>
        <span class="mat-line">Usuários</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/pages/produtos">
        <div class="icon-span-container">
          <mat-icon mat-list-icon>collections_bookmark</mat-icon>
        <span class="mat-line">Produtos</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/pages/vendas">
        <div class="icon-span-container">
          <mat-icon mat-list-icon>currency_exchange</mat-icon>
        <span class="mat-line">Venda</span>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="/pages/historial_venda">
        <div class="icon-span-container">
          <mat-icon mat-list-icon>edit_note</mat-icon>
        <span class="mat-line">Histórico de Vendas</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/pages/reportes">
        <div class="icon-span-container">
          <mat-icon mat-list-icon>receipt</mat-icon>
        <span class="mat-line">Relatórios</span>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="/pages/configuracoes">
        <div class="icon-span-container">
          <mat-icon mat-list-icon>settings_applications</mat-icon>
        <span class="mat-line">Configurações</span>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 90vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
