.navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height:70px;
  z-index: 5;
  background-color: rgb(80, 65, 144);
}

.sidenav-container {
  height: calc(100vh - 0px);
  width: 100%;
  padding-top: 62px !important;
  padding-bottom: 10px !important;
  background-color: rgb(247, 247, 247);
}

.mat-sidenav{
  margin-top: 4.3rem;
  background-color: rgb(111, 92, 196);

}

mat-sidenav{
  width: 250px;
}

.title{
  font-size: 24px;
}

.icon-span-container {
  display: flex;
  align-items: center;
}

.title{
color: white;
}


.material-icons {
  font-size: 18px;
  margin-right: 10px;
}

