.mat-card-config{
  display: flex;
  justify-content: space-between;
  height: 78vh;

  .first-linha{
    display: flex;
    flex-wrap: wrap;
    button{
      margin: 8px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      color: rgb(13, 45, 121);
      font-size: 15px;
    }

  }

}
